html, body {
	background-color: silver;
	height: 97%;
}


div.menu {
	background-color: black;
	float: left;
	position:fixed;
	width: 15%;
	height: 99%;
	text-align: center;
}

div.lowBorder {
	background-color: #93ddff;
	position:fixed;
	bottom: 0;
	width:100%;
	border: 3px solid black;
	float:bottom;
}

div.content {
	margin-left:20%;
	margin-right:5%;
	margin-bottom:7%;
}

hr.menu {
	align: center;
	width: 75%;
	
}

a:link, a:visited, a:hover, a:active {
	color:white;
	background-color:transparent;
	text-decoration:none
}

a {
	target: _blank;
}



a.portfolio:link, a.portfolio:visited, a.portfolio:hover, a.portfolio:active {
	color:darkblue;
	background-color:transparent;
	text-decoration:none
}

a.resource:link, a.resource:visited, a.resource:hover, a.resource:active {
	color:darkblue;
	background-color:transparent;
	text-decoration:none
}

a.funLink:link, a.funLink:visited, a.funLink:hover, a.funLink:active {
	color: black;
	font-weight: bold;
	margin-left: 5%;
	background-color:transparent;
	text-decoration:none;
}

a.resource {
	target: _blank;
}


img.icon {
	width: 3%;
	height: auto;
	vertical-align: middle;
}

div div div.ticTacToeRow {
	float: left;
	clear: right;
}

footer.foot {
	position:fixed;
	bottom:5px;
	right:5px
}

object.A3{
	width: 80%;
}