/* Units
	cm	 - centimeters
	mm	 - millimeters
	in	 - inches (1in = 96px = 2.54cm)
	px	 - pixels (1px = 1/96th of 1in)
	pt	 - points (1pt = 1/72 of 1in)
	pc	 - picas (1pc = 12 pt) 

	em	 - Relative to the font-size of the element (2em means 2 times the size of the current font) 	
	ex	 - Relative to the x-height of the current font (rarely used) 	
	ch	 - Relative to the width of the "0" (zero) 	
	rem	 - Relative to font-size of the root element 	
	vw	 - Relative to 1% of the width of the viewport* 	
	vh	 - Relative to 1% of the height of the viewport* 	
	vmin - Relative to 1% of viewport's* smaller dimension 	
	vmax - Relative to 1% of viewport's* larger dimension 	
	%	 - Relative to the parent element
W3 Schools */

body {
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-position: fixed;
	 background-color: #899c91;

}

div.section { padding-bottom: 20px; }
div.pagewrapper {
	overflow-y: auto;
	overflow-x: hidden;
}

p { margin-bottom: 0.75em; }
p.header {
	font-size: 22pt;
	font-weight: bold;
}
p.subheader {
	font-size: 18pt;
	font-weight: bold;
}
p.body { font-size: 14pt; }
p.listEntry {
	font-size: 14pt;
	padding-left: 2ch;		
}

a { display: inline-block; }
a:hover { display: inline-block; }
a:link { color: #001149; }
a:visited { color: #092f18; }
a span {display: none;}
a:hover span {
	display: inline-block;
	text-decoration: underline;
}

.content {
	border: 3px solid #001149;
}
img.sidebarIcon { width: 100%; }
img.inlineImage {
		height:  1.5em;
		vertical-align:	middle
}
img.bigInlineImage {
		height:  3em;
		vertical-align:	middle
}

input, select, button {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: inherit;
	font-size: 1em;
	border: 1px solid #001149;
	padding-left: 2ch;
	padding-right: 2ch;
	transition-duration: 0.25s;
}
input:focus, select:focus { outline:  none; }
button:hover { background-color: #c0cfff; }
button {
	
}

/* Visitor's Log */
table.visitorsLog {
	vertical-align: top;
	width: 100%;
}
td.mascotBox {
	vertical-align: middle;
	width: 6em;
	padding: 0.5em;
	background-color: #B8BFD7;
	border: 3px solid #001149;
}
td.visitorInfo {
	vertical-align: bottom;
	border-bottom: 3px solid #001149;
}
img.tableMascot {
	width:  100%;
}

/* Swag Meter */
div.plotlyDiv {
	min-width: 400px;
	min-height:  200px;
	border: 3px solid #001149;
}