body {
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-position: fixed;
	 background-color: #899c91;
}

div.section {
	padding-bottom: 20px;
}

p.header {
	font-size: 30px;
	font-weight: bold;
}

p.subheader {
	font-size: 23px;
	font-weight: bold;
}

span.featureName {
	font-size: 20px;
	font-weight: bold;
}

p.body {
	font-size: 20px;
}

a {
	display: inline-block;
}
a:link {
	color: #001149;
}
a:visited {
	color: #092f18;
}
a span {display: none;}
a:hover span {
	display: inline-block;
	text-decoration: underline;
}
a:hover {display: inline-block;}

span.fakeLink {
	color: #092f18;
	text-decoration: underline;
}
span.fakeLink span {display: none;}
span.fakeLink:hover span {
	display: inline-block;
	text-decoration: underline;
}
span.fakeLink:hover {display: inline-block;}

td.feature {
		width: 50%;
		font-size: 20px;
	}

img.mascot {
		height:  23px;
		vertical-align:	middle
}

img.weblistImage {
		height:  50px;
		vertical-align:	middle
	}

button.standardButton {
	transition-duration: 0.25s;
}

button:hover.standardButton.standardButton {
		background-color: #c0cfff;
	}

input, select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* fat */
@media (min-aspect-ratio: 1920/1080) {
	body {
		padding-top: 5.625vw;
		background-size: 100vw;
	}

	div {
		scroll-margin-top:  7vw;
	}

	div.sidebar {
		display: inline-block;
		position: fixed;
		vertical-align: top;
		margin-left: 2.23958%;
		width: 2.43959%;
	}

	div.page {
		display: inline-block;
		vertical-align: top;
		margin-left: 6.71874%;
		width: 90%;
	}

	img.sidebar {
		width: 100%;
	}

	p.listEntry {
		font-size: 20px;
		margin-left: 2.23958%;		
	}

	video.playingCards {
		width: 45%;
		border: 3px solid #001149;
		display: inline-block;
	}

	img.playingCards {
		width: 45%;
		border: 3px solid #001149;
		display: inline-block;
	}

	table.playingCards {
		display: inline-table;
		vertical-align: top;
		margin-left: 2.23958%;
		width: 45%;
	}

	td.feature {
		height: 7vh;
	}

	table.visitorsLog {
		display: inline-table;
		vertical-align: top;
		margin-left: 2.23958%;
		width: 45%;
	}

	table.scorecard {
		display: inline-table;
		vertical-align: top;
		margin-left: 2.23958%;
		width: 75%;
	}

	div.plotlyDiv {
		min-width: 700px;
		min-height:  350px;
		width: 50%;
		height: 22.2135vw;
		border: 3px solid #001149;
	}

	button.standardButton {
		height: 34px;
		width: 20%;
		text-align: center;
		font-family: inherit;
		font-size: 20px;
		border: 1px solid #001149;
	}
	button:focus.standardButton {
		outline:  none;
		background-color: #cad7bb;
	}
	button.scorecardButton {
		width: 100%;
	}

	input.standardInput {
		width: 25%;
		height: 30px;
		font-family: inherit;
		font-size: 20px;
		padding-left: 10px;
		border: 1px solid #001149;
	}
	input:focus.standardInput {
		border: 1px solid #001149;
		outline:  none;
	}
	input.scorecardInput {
		width: 100%;
	}

	select.standardSelect {
		width: 25%;
		height: 30px;
		font-family: inherit;
		font-size: 20px;
		padding-left: 5px;
		border: 1px solid #001149;
	}

	select:focus.standardSelect {
		outline:  none;
	}

	.iframe-container {
		width: 50%;
		border: 3px solid #001149;
		overflow: hidden;
		padding-top: 28.125%; /* 16:9 - 56.25 @ 50%*/
		position: relative;
	}

	.iframe-container iframe {
		border: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	video.marioWorld {
		width: 45%;
		border: 3px solid #001149;
		display: inline-block;
	}
}

/* skinny */
@media (max-aspect-ratio: 1920/1080) {
	body {
		padding-top: 10vh;
		background-size: auto 100vh;
	}

	div{
		scroll-margin-top:  12vh;
	}

	div.sidebar {
		display: inline-block;
		position: fixed;
		vertical-align: top;
		margin-left: 3.98147vh;
		width: 4.33705vh;
	}

	div.page {
		display: inline-block;
		vertical-align: top;
		margin-left: 11.94441vh;
		width: 70%;
	}

	img.sidebar {
		width: 100%;
	}

	p.listEntry {
		font-size: 20px;
		margin-left: 3.98147vh;		
	}

	video.playingCards {
		width: 100%;
		border: 3px solid #001149;
	}
	img.playingCards {
		width: 100%;
		border: 3px solid #001149;
	}

	table.playingCards {
		width: 100%;
	}

	table.scorecard {
		width: 100%;
	}

	td.feature {
		height: 3vh;
	}

	img.iframe-placeholder {
		width: 100%;
		border: 3px solid #001149;
	}

	div.plotlyDiv {
		min-width: 700px;
		min-height:  350px;
		width: 100%;
		height: 28.125vh;
		border: 3px solid #001149;
	}

	button.standardButton {
		height: 34px;
		width: 40%;
		text-align: center;
		font-family: inherit;
		font-size: 20px;
		border: 1px solid #001149;
	}
	button:focus.standardButton {
		outline:  none;
		background-color: #cad7bb;
		border: 1px solid #001149;
	}

	button.scorecardButton {
		width: 100%;border: 1px solid #001149;
	}
	button:focus.scorecardButton {
		width: 100%;
	}

	input.standardInput {
		width: 100%;
		height: 30px;
		font-family: inherit;
		font-size: 20px;
		padding-left: 10px;
		border: 1px solid #001149;
	}
	
	input:focus.standardInput {
		outline:  none;
	}

	select.standardSelect {
		width: 100%;
		height: 30px;
		font-family: inherit;
		font-size: 20px;
		padding-left: 5px;
		border: 1px solid #001149;
	}
	select:focus.standardSelect {
		outline:  none;
	}

	.iframe-container {
		width: 100%;
		border: 3px solid #001149;
		overflow: hidden;
		padding-top: 56.25%; /* 16:9 - 56.25 @ 100%*/
		position: relative;
	}

	.iframe-container iframe {
		border: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	video.marioWorld {
		width: 100%;
		border: 3px solid #001149;
	}

}
