p.header {
	font-size: 30px;
	font-weight: bold;
}

p.body {
	font-size: 20px;
}

a:link {
	color: #001149;
}
a:visited {
	color: #092f18;
}



@media (min-aspect-ratio: 1920/1080) {
	div.sidebar {
		display: inline-block;
		vertical-align: top;
		margin-left: 2.23958%;
		width: 2.43959%;
	}

	div.page {
		display: inline-block;
		vertical-align: top;
		margin-left: 2.23958%;
		width: 90%;
	}

	img.sidebar {
		width: 100%;
	}
}
