div.section {
	padding-bottom: 20px;
}

p.header {
	font-size: 30px;
	font-weight: bold;
}

p.subheader {
	font-size: 23px;
	font-weight: bold;
}

span.featureName {
	font-size: 20px;
	font-weight: bold;
}

p.body {
	font-size: 20px;
}

a:link {
	color: #001149;
}
a:visited {
	color: #092f18;
}
a span {display: none;}
a:hover span {
	display: inline-block;
	text-decoration: underline;
}
a:hover {display: inline-block;}


/* fat */
@media (min-aspect-ratio: 1920/1080) {
	body {
		padding-top: 5.625vw;
	}

	div.sidebar {
		display: inline-block;
		position: fixed;
		vertical-align: top;
		margin-left: 2.23958%;
		width: 2.43959%;
	}

	div.page {
		display: inline-block;
		vertical-align: top;
		margin-left: 6.71874%;
		width: 90%;
	}

	img.sidebar {
		width: 100%;
	}

	p.listEntry {
		font-size: 20px;
		margin-left: 2.23958%;		
	}
}

/* skinny */
@media (max-aspect-ratio: 1920/1080) {
	body {
		padding-top: 10vh;
	}

	div.sidebar {
		display: inline-block;
		position: fixed;
		vertical-align: top;
		margin-left: 3.98147vh;
		width: 4.33705vh;
	}

	div.page {
		display: inline-block;
		vertical-align: top;
		margin-left: 11.94441vh;
		width: 70%;
	}

	img.sidebar {
		width: 100%;
	}

	p.listEntry {
		font-size: 20px;
		margin-left: 3.98147vh;		
	}

	video.playingCards {
		width: 100%;
		border: 3px solid #001149;
	}

	table.playingCards {
		width: 100%;
	}

	td.feature {
		width: 50%;
		font-size: 20px;
	}
}
