/* portrait */

body {
	padding-top: 13.33333vh;
	background-size: auto 100vh;
	overflow-y: hidden;
}
div.mobile {display: inline;}
div.notMobile {display: none;}

table.pagelayout {
	width: 100%;
	table-layout: fixed;
}
td.pagesection {
	vertical-align: top;
	word-wrap: normal;
}
td.sidebar {
	padding-left: 4.72222vh;
	width: 3.95368vh;
	padding-right: 4.72222vh;
}
td.page { width: 100vw - 9.44444vh - 3.95368vh; }
div.pagewrapper {
	height: calc(100vh - 13.33333vh - 4.72222vh);
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 4.72222vh;
}

/* Global Styles */

p.header {
	font-size: 18pt;
	font-weight: bold;
}
p.subheader {
	font-size: 14pt;
	font-weight: bold;
}
p.body { font-size: 14pt; }

input.longInput, select.longSelect, button.longButton {
	width:  90%;
	height: 1.5em;
}
input.shortInput, select.shortSelect, button.shortButton {
	width:  33%;
	height: 1.5em;
}

/* Visitor's Log */
td.mascotBox {
	vertical-align: middle;
	width: 2em;
	padding: 0.25em;
	background-color: #B8BFD7;
	border: 3px solid #001149;
}
td.visitorInfo {
	vertical-align: middle;
	border-bottom: 0px;
	padding-left: 2ch;
	p {
		margin-bottom: 0px;
	}
}
p.visitorsMessage {
	vertical-align: bottom;

	padding-bottom: 1ch;
	border-bottom: 3px solid #001149;
}